* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--light-bg);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

:root {
    --purple: #A855F7;
    --green: #3AFE9F;
    --gray: #6E7076;
    --dark: #0A0A0C;
    --light-bg: #f5f5f5;
}

span {
    color: var(--purple);
    font-weight: bold;
    font-size: 40px;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, var(--dark) 0%, #1a1a1a 100%);
    color: var(--light-bg);
    scroll-behavior: smooth;
    z-index: 1;
}

nav {

    width: 100%;
    display: flex;    
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: var(--dark);
    justify-content: space-between;
    
}

.logo {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 3px 0;
    transition: 0.3s;
}


.menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    color: var(--light-bg);
    padding: 20px;



}

.menu-link {
    text-decoration: none;
    color: var(--gray);

}

.menu-link:hover {
    color: #3AFE9F;
    transition: ease-in-out;

}

.menu-contato {
    text-decoration: none;
    color: #A855F7;
    padding: 10px 30px;
    border: 1px solid #A855F7;
    border-radius: 10px;
}

.menu-contato:hover {
    background-color: #3AFE9F;
    border: 1px solid #3AFE9F;
    color: #000000;
    font-weight: 500;
    transition: 0.3s;
    opacity: 0.7;
    padding: 10px 30px;
    
}

.menu-contato:active {
    opacity: .5;

}

.container {
    background: radial-gradient(elíptico, var(--purple) 0%, var(--green) 70%, transparent);
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    margin: 30px 10px 0 10px;

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 52%;
    }

    h1 {
        font-size: 45px;
        font-weight: bold;
        text-align: center;

    }

    p {
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
        margin: 40px 0;
        color: var(--gray);
    }

    button {
        background: linear-gradient(45deg, var(--purple), var(--green));
        color: white;
        border: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-weight: 600;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px #A855F7;
        cursor: pointer;

        a {
            text-decoration: none;
        }
    }

    button:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 25px rgba(168, 85, 247, 0.5);
    }

    button:active {
        opacity: .5;

    }


    .img-principal {
        width: 500px;
        height: auto;
        border-radius: 15px;
        margin: 100px 0;
        box-shadow: 0 5px 20px #A855F7;


    }

}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 20px;
    margin: 0 10px;
    background: #000000;
    padding: 60px 20px;

    h2 {
        color: var(--green);
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-top: 70px;


    }

    .text-sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin: 60px 0;
    }


    .imagem2 {
        width: 350px;
        border-radius: 15px;
        box-shadow: 0 5px 20px #A855F7;


    }

    p {
        width: 50%;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.2;

    }
}

img {
    width: 100px;

}

.services {

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 20px;
    margin: 0 10px;
    padding: 60px 20px;

    h2 {
        text-align: center;
        color: var(--purple);
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-top: 70px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        padding: 50px 20px;


    }

    .card {
        background-color: #00000087;
        opacity: 0.7;
        border: 1px solid rgba(255, 255, 255, 0.381);
        border-radius: 10px;
        padding: 25px 25px;

    }

    .card:hover {

        border: 1px solid #3AFE9F;
        box-shadow: 0 5px 50px #A855F7;

    }


    h3 {
        font-size: 25px;
        color: var(--green);
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        text-align: justify;
    }
}


.contact {
    display: flex;
    flex-direction: column;
    background: #000000;
    gap: 25px;
    padding: 50px 20px;
    margin: 0 10px;
    padding: 60px 20px;

    h2 {
        text-align: center;
        color: var(--green);
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-top: 70px;
    }

    p {

        text-align: center;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 30px;

    }

    .formulario-contato {

        width: 600px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
        padding: 2rem;
        border: 1px solid var(--vidro);
        border-radius: 16px;
        box-shadow: 0 5px 20px #A855F7;

    }

    .campo-form {
        width: 100%;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        color: var(--claro);
        border: 1 px solid var(--vidro);
        outline: none;

    }

    .grupo-form {
        margin-bottom: 1.5rem;

    }

    .campo-form:focus {
        border-color: var(--secundaria);
        box-shadow: 0 0 10px var(--green);
    }

    .botao-form {
        width: 100%;
        background: linear-gradient(45deg, var(--purple), var(--green));
        color: white;
        border: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-weight: 600;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(168, 85, 247, 0.3);
        transition: all 0.5 ease;
        cursor: pointer;

    }

    .botao-form:hover {
        transform: translateY(-4px);
        box-shadow: 0 5px 15px #3AFE9F;
    }

    button:active {
        opacity: .5;

    }
}

footer {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 25px 60px;

    .footer-img {
        width: 150px;

    }


    .icones {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-left: 100px;
    }

    #icons1,
    #icons2 {
        border: none;
        font-size: 35px;




    }

    #icons1:hover {
        color: #A855F7;
        box-shadow: none;

    }

    #icons2:hover {
        color: #3AFE9F;
        box-shadow: none;

    }


}


@media screen and (max-width: 1050px) {


    .container {

        .text-container {
            width: 48%;
        }

        h1 {
            font-size: 30px;
            padding-top: 50px;
        }
        p{
            font-size: 20px;
            text-align: justify;
        }

        .img-principal {
            width: 300px;
            padding-top: 50px;
        }
    }

    #button {
        display: none;
    }

}

@media screen and (max-width: 769px) {


    span {
    color: var(--purple);
    font-weight: bold;
    font-size: 32px;
}

    .navbar {
        display: flex;
        position: fixed;
        justify-content: space-between;
        cursor: pointer;

        padding: 10px 50px 10px 30px;
        width: 100%;


    }

    .hamburger {
        display: flex;
        flex-direction: column;

    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        background: #000000;
        opacity: 0.9;
    }

    .menu.active {
        display: flex;
        justify-content: left;

    }

    .menu-link {
        display: block;
        padding: 15px 20px;

    }
  


    .menu-contato {
        display: block;
        padding: 15px 20px;
        width: 17%;
        border: none;
    }
    
    .menu-contato:hover {
        border: none;
        background: transparent;
        color: var(--green);
        
    }

      
    h2 {
        font-size: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./img/imagem\ 9.png);
        background-size: cover;
        background-position: center;
        box-shadow: 0 5px 20px #A855F7;
        border-radius: 10px;
        margin-bottom: 10px;

        .text-container {
        
        width: 95%;
    }


        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-top: 20px;
            color: #3AFE9F;

        }

       

        p {
            font-family: "Roboto", sans-serif;            
            font-size: 20px;
            margin: 60px 0 ;
            padding-top: 20px;
            color: var(--light-bg);
            font-weight: 600;
            text-align: justify;


        }
    }

    .img-principal {
        display: none;

    }



    #button {
        display: none;
    }
    


    .sobre {

        .text-sobre {
            flex-direction: column;
        }

        h2 {
            font-size: 40px;
        }

        .imagem2 {
            width: 300px;
        }

        p {
            width: 80%;
        }
    }


    .services {

        h2 {
            font-size: 40px;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

        }

        .card {
            width: 90%;
        }

    }

    .contact {

        h2 {
            font-size: 40px;
        }

        .formulario-contato {
            width: 85%;
            padding: 10px;
        }

        .botao-form {
            width: 100%;


        }



    }

    footer {
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;

    }

    footer p {
        display: none;
    }
}